@font-face {
  font-family: "iconfont logo";
  src: url("./font/iconfont.eot");
  src: url("./font/iconfont.eot#iefix") format("embedded-opentype"),
    url("./font/iconfont.woff") format("woff"),
    url("./font/iconfont.ttf") format("truetype"),
    url("./font/iconfont.svg") format("svg");
}
.hello {
  color: red;
  background: url("./icon.png");
}

.logo {
  margin: 0 auto;
  display: block;
  width: 200px;
}
